<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %} | Base </title>
</head>

<body>

    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-family:Roboto">Index</a>

        <div class="space-x-6">
            <a href="#" class="text-lg  hover:text-gray-500">New item</a>
            <a href="{% url 'watches:items' %}" class="text-lg  hover:text-gray-500">Browse</a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'conversation:inbox' %}" class="px-6 py-3 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700 font-family:Roboto">Inbox</a>
            <a href="#" class="px-6 py-3 text-lg  bg-gray-500 text-white rounded-xl hover:bg-gray-700 font-family:Roboto">Dashboard</a>
            <a href="{% url 'watchapp:logout' %}" class="px-6 py-3 text-lg bg-red-500 text-white rounded-xl hover:bg-red-700 font-family:Roboto">Logout</a>
            {% else %}

            <a href="{% url 'watchapp:signup' %}" class="px-6 py-3 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700 font-family:Roboto">Sign
                up</a>
            <a href="{% url 'watchapp:login' %}" class="px-6 py-3 text-lg  bg-gray-500 text-white rounded-xl hover:bg-gray-700 font-family:Roboto">Sign
                in</a>
            {% endif %}
        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}

        {% endblock %}

    </div>

    <footer class="py-6 px-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <p class="text-lg text-gray-500">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>
        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

            <ul class="space-y-2">
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="{% url 'watchapp:contact' %}" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Our Story</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>