{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/4b8e303bca.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>{% block title %} {% endblock %} | Base </title>
</head>

<body class="bg-white">

    <nav
        class="py-6 flex flex-col sm:flex-row justify-center items-center border-b border-gray-200 px-4 lg:px-6 py-2.5 bg-gray-700 nav-bar">
        <a href="/" class="flex items-center main-header-cursive text-white text-5xl justify-center lg:justify-start">
            Watches By Karl
        </a>
        </div>
        <div class="mt-4 ml-5 sm:mt-0 space-x-4 flex flex-wrap items-center justify-center">
            {% if request.user.is_authenticated %}
            <span class="text-lg rounded-lg main-header-cursive text-white">Hello there
                {{ request.user.username }}</span>
            <a href="{% url 'watches:items' %}"
                class="px-2 py-2 text-white main-header-cursive hover:text-teal-700">BROWSE</a>
            <a href="{% url 'conversation:inbox' %}"
                class="px-2 py-2 text-white main-header-cursive hover:text-teal-700">INBOX</a>
            <div class="relative text-center">
                <div class="inline-block">
                    <button class="py-2 px-2 text-white main-header-cursive focus:outline-none hover:text-teal-700">
                        BRANDS IN STOCK
                    </button>
                    <div class="dropdown-container">
                        <ul>
                            <li><a href="{% url 'watches:items' %}?query={{ query }}">All</a></li>
                            {% for category in categories %}
                            <li>
                                Heya!<a href="{% url 'watches:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }} Hey!</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{% url 'watchapp:logout' %}"
                class="px-2 py-2 text-lg text-white main-header-cursive hover:text-red-500">LOG
                OUT</a>
            {% else %}
            <a href="{% url 'watches:items' %}"
                class="px-2 py-2 text-white main-header-cursive hover:text-teal-700">BROWSE</a>
            <div class="relative text-center">
                <div class="inline-block">
                    <button class="py-2 px-2 text-white main-header-cursive focus:outline-none hover:text-teal-700">
                        BRANDS IN STOCK
                    </button>
                    <div class="dropdown-container">
                        <ul>
                            <li><a href="{% url 'watches:items' %}">All</a></li>
                            {% for category in categories %}
                            <li>
                                <a href="{% url 'watches:items' %}?category={{ category.id }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{% url 'watchapp:signup' %}"
                class="px-4 py-2 text-lg rounded-lg bg-sky-600 text-white rounded-xl hover:bg-teal-700 main-header-cursive">Sign
                up</a>
            <a href="{% url 'watchapp:login' %}"
                class="px-4 py-2 text-lg bg-indigo-700 text-white rounded-xl hover:bg-teal-700 main-header-cursive">Sign
                in</a>
            {% endif %}
        </div>
    </nav>


    <div class="px-4 sm:px-6 py-6">
        {% block content %}

        {% endblock %}

    </div>

    <footer
        class="py-6 px-4 sm:px-6 flex flex-wrap justify-between bg-gray-700 bottom-0 border-gray-200 inset-x-0 mt-20 pt-20">
        <div class="w-full sm:w-2/3 pr-0 sm:pr-10">
            <h3 class="mb-5 font-semibold main-header-cursive text-white text-center">About</h3>
            <span class="text-lg text-bold bitter-font-bold text-white">
                Our curated collection includes renowned brands such as Breitling, PANERAI, Cartier, Tudor, Tag Heuer,
                Rolex and many more.
                Having been in watch business for over 5 years you can rest assured that every timepiece sold by us has
                been carefully inspected against theft & Authenticity
                <br>
                We can be contacted at any time through eBay messages if you have any
                questions, comments, or product requests. We will respond to you within 24 hours and do our best to help
                you out! We encourage our customers to contact us with any questions or concerns! We'd like to be sure
                you are completely satisfied with your purchase.
            </span>
        </div>
        <div class="w-full sm:w-1/3 mt-4 sm:mt-0">
            <h3 class="mb-5 font-semibold main-header-cursive text-center text-white">Additional Info</h3>
            <ul class="space-y-2">
                <li><a href="#"
                        class="text-lg text-teal-500 hover:text-teal-700 main-header-cursive mr-4">Payment</a><span
                        class="text-right text-sm text-white">To be made within 2 hours of purchase. Otherwise, the sale
                        will be canceled.</span></li>
                <li><a href="#"
                        class="text-lg text-teal-500 hover:text-teal-700 main-header-cursive mr-4">Contact</a><span
                        class="text-right text-sm text-white">Feel free to get in touch with us using our convenient
                        messaging system on the website. Alternatively, you can reach out to us via email at
                        watchesbykarl@gmail.com. We're here to assist you with any inquiries or requests you may have!"

                        This message encourages buyers to use the website's messaging system while also providing your
                        email address as an alternative contact method.</span></li>
                <li><a href="#"
                        class="text-lg text-teal-500 hover:text-teal-700 main-header-cursive mr-4">Shipping</a><span
                        class="text-right text-sm text-white">Purchases over eBay are shipped strictly to the UK. If
                        international, please contact me, and I will arrange a quote. Payment must be made before the
                        product is shipped.</span></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700 main-header-cursive mr-4">Terms and
                        conditions &
                        Disclaimer</a><span class="text-sm text-white">I reserve the right to withdraw from the sale if
                        the purchaser holds less
                        than 10 positive eBay reviews.
                        I appreciate and welcome offers. However, there is an auto-reject option set in place for a
                        reason. Please keep in mind watches are also advertised on Facebook Marketplace /
                        Chrono24</span>
                </li>
            </ul>
        </div>
    </footer>

    <script>
        var currentURL = window.location.href;


        if (currentURL.indexOf("/watches/") !== -1) {

            document.querySelector('.nav-bar').classList.add('browse-page-nav');
        } else {

            document.querySelector('.nav-bar').classList.remove('browse-page-nav');
        }
        $(document).ready(function () {
            $("#imageCarousel").owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                dots: false,
                navText: ["<i class='fa-solid fa-chevron-left text-left'></i>",
                    "<i class='fa-solid fa-chevron-right'></i>"
                ]
            });
        });

        function validateNumber(input) {

            input.value = input.value.replace(/[^0-9]/g, '');
        }
    </script>

</body>

</html>