{% extends 'core/base.html' %}
{% load humanize %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 rounded-xl bg-gray-100">
    <h2 class="mb-12 text-center w-full stock"> Current stock </h2>
    <div class="grid grid-cols-6 gap-6">
        {% for watch in items %}
        <div>
            <a href="{% url 'watches:detail' watch.id %}">
                <div>
                    <img src="{{ watch.image.url }}" class="w-full h-auto rounded-lg shadow-md" alt="{{ watch.name }}">
                </div>

                <div class="p-6 rounded-xl mt-4">
                    <h2 class="text-lg uppercase text-center span">
                        {{ watch.name }}
                    </h2>
                    <p class="text-s text-center cursiv"> {{ watch.price|intcomma }} <i class="fa-solid fa-sterling-sign"></i></p>
                    <p class="text-center mt-1 font-semibold cursiv"> Year : <span class="font-light text-center cursiv">{{ watch.year }} </span></p>
                    <div class="flex flex-col items-center mt-2">
                        <p class="text-center text-xs">
                            <a href="{{ watch.ebay_link }}" target="_blank">
                                <i class="fa-brands fa-ebay text-4xl"></i>
                
                            </a>
                        </p>
                        <a href="{% url 'watches:submit_offer' watch.pk %}"
                            class="mt-2 px-4 py-1 font-semibold bg-sky-600 text-white hover:bg-teal-700 rounded-xl cursive">Submit
                            an Offer</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-center stock"> Categories </h2>

    <div class="grid grid-cols-1 text-center">
        {% for category in categories %}
        <div>
            <a href="{% url 'watches:watches_by_category' category_name=category.name %}">
                <div class="p-6 bg-white-rounded-b-xl">
                    <h2 class="text-2xl font-semibold uppercase tracking-widest">{{ category.name }}</h2>
                    <p class="text-gray-500 cursive mt-6">{{ category.items.count }} Items</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}