{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block title %} Welcome {% endblock %}

{% block content %}
<span class="block text-center p-10 m-10 text-2xl bitter-font-bold">
    <i class="fas fa-handshake mr-5 ml-5"></i> Buy <i class="fas fa-dollar-sign mr-5 ml-5"></i> Sell <i class="fas fa-exchange-alt mr-5 ml-5"></i> Trade pre-owned watches
</span>
<img src="https://watches4u.pl/modules/themeconfigurator/img/68088bb83167b1de2bfa6e98df36c9814f6a08b0_men.jpg" class="w-full h-1/4" alt="Wide and Short Image">
<div class="mt-6 px-6 py-12 rounded-xl bg-gray-100">
    <h2 class="mb-12 text-center w-full cursive-padding-size"> Available watches </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-6">
        {% for watch in items %}
        <div class="mb-6">
            <a href="{% url 'watches:detail' watch.id %}">
                <div>
                    {% if watch.main_image %}
                    <img src="{{ watch.main_image.url }}" class="w-full h-auto rounded-lg shadow-md"
                        alt="{{ watch.name }}">
                    {% else %}
                    <img src="{% static 'path/to/placeholder/image.png' %}" class="w-full h-auto rounded-lg shadow-md"
                        alt="{{ watch.name }}">
                    {% endif %}

                    <div class="p-6 rounded-xl mt-4">
                        <h2 class="text-lg uppercase text-center span">
                            {{ watch.name }}
                        </h2>
                        <p class="text-center font-semibold bitter-font-bold mt-4"> Price : {{ watch.price|intcomma }} <i
                                class="fa-solid fa-sterling-sign"></i></p>
                        <p class="text-center mt-1 font-semibold bitter-font-bold"> Year : <span
                                class="text-center bitter-font-bold">{{ watch.year }} </span></p>
                        <div class="flex justify-center mt-2">
                            <div class="text-center mr-4">
                                <span class="font-semibold text-s bitter-font-bold">With box</span>
                                {% if watch.has_box %}
                                <span class="font-light text-s"><i class="fa-regular fa-circle-check"></i></span>
                                {% else %}
                                <span class="font-light text-s"><i class="fa-regular fa-circle-xmark"></i></span>
                                {% endif %}
                            </div>

                            <!-- Check if has_papers is True and display the icon accordingly -->
                            <div class="text-center">
                                <span class="font-semibold text-s bitter-font-bold">With papers</span>
                                {% if watch.has_papers %}
                                <span class="font-light text-s"><i class="fa-regular fa-circle-check"></i></span>
                                {% else %}
                                <span class="font-light text-s"><i class="fa-regular fa-circle-xmark"></i></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex flex-col items-center mt-2">
                            <p class="text-center text-xs">
                                <a href="{{ watch.ebay_link }}" target="_blank">
                                    <i class="fa-brands fa-ebay text-4xl"></i>
                                </a>
                            </p>
                            <a href="{% url 'watches:submit_offer' watch.pk %}"
                                class="mt-2 px-4 py-1 font-semibold bg-gray-600 text-white hover:bg-teal-700 rounded-xl main-header-cursive">Submit
                                an Offer</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-center cursive-padding-size"> Discover Fine Timepieces from the below Brands : </h2>

    <div class="grid grid-cols-1 text-center">
        {% for category in categories %}
        <div>
            <a href="{% url 'watches:watches_by_category' category_name=category.name %}">
                <div class="p-6 bg-white-rounded-b-xl">
                    <h2 class="text-2xl font-semibold uppercase tracking-widest">{{ category.name }}</h2>
                    <p class="text-gray-500 main-header-cursive mt-6">{{ category.items.count }} Items</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}