{% extends 'core/base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}
<section class="bg-indigo-950">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-80 h-20 mr-2" src="https://i.ibb.co/Vjcpfct/cover.png" alt="logo">
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="filter text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Sign up for an account
              </h1>
              <form method="post" action=".">
                  {% csrf_token %}
                  <div>
                      <label for="username" class="filter text-center block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Username</label>
                      {{ form.username }}
                  </div>
                  <div>
                      <label for="email" class="filter text-center block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Email</label>
                      {{ form.email }}
                  </div>
                  <div>
                      <label for="password1" class="filter text-center block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div>
                      <label for="password2" class="filter text-center block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Repeat Password</label>
                      {{ form.password2 }}
                  </div>
                  {% if form.errors or form.non_field_errors %}
                      <div class="mb-3 p-6 bg-red-100 rounded-xl">
                          {% for field in form %}
                              {{ field.errors }}
                          {% endfor %}
                          {{ form.non_field_errors }}
                      </div>
                  {% endif %}
                  <button type="submit" class="w-full text-sm text-white filter">Sign up</button>
                  <p class="text-sm text-white text-center mt-1 filter">
                    Already have an account? 
                </p>
                <p class="text-sm text-center mt-1">
                    <a href="{% url 'watchapp:login' %}" class="filter font-semibold text-sm text-white hover:underline">Sign in</a>
                </p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}
