.offer-message {
    background-color: purple;
    /* Set the background color to dark grey for offer messages */
}

.offer-message .offer-text {
    color: purple;
    /* Set the text color to white for offer message content */
}


.cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
}

.cursiv {
    font-family: 'Dancing Script', cursive;
}

span {
    font-family: Roboto, san-serif;
}

.stock {
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.brands {
    padding: 12px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: grey;

}

.image {
    margin: 0 auto;
}

.info {
    font-family: 'Bitter', serif;
    font: bold;
    font-weight: 900;
}

.filter {
    font-family: 'Bitter', serif;
    color: grey;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.filtero {
    font-family: 'Bitter', serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.specs {
    font-family: Roboto;
}


.imageo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 80% 50%;
}


.browse-page-nav a {
    /* Your styles for links on the "Browse" page */
    justify-content: center;

}